#booklist li {
    list-style: none;
    float: left;
    width: 196px;
    height: 300px;
    padding: 0 5px;
    text-align: center;
}

#booklist .img {
    display:block;
    height:182px;
    width:182px;
    line-height:182px;
    overflow:hidden;
    border:1px solid #efefef;
}

#booklist img {
    max-height: 182px;
    max-width: 182px;

}

.table-list {
    border-bottom:1px solid #ddd;
    margin-top: 20px;
}

.table-list tr th {
    text-align: center;
    background-color:#f8f8f8;
}

.table-list tr td {
    text-align: center;
    vertical-align: middle!important;
}

.table-list tr td img {
    max-width: 100px;
    max-height: 100px;
}

.table-list .text-left {
    text-align:left;
}

.w60 {
    width:60px;
}

.w150 {
    width:150px;
}

.w160 {
    width:160px;
}

.w220 {
    width:220px;
}

.color-gray {
    color:#999;
}

.pager {
    height:auto;
    padding:10px;
    background-color:#f3f3f3;
}
.pager span {
    margin-top:5px;
    color:#666
}

.pager div.short {
    margin-right:0;
    width:auto;
}

.pager div.short input {
    height:30px;
    line-height:30px;
    padding:0 5px;
    border-radius: 3px 0 0 3px;
}
.pager div.short input[type=text] {
    width:40px;
    border:1px solid #ccc;
    text-align: right;
}
.pager .active {
    background-color:#333;
    color:#fff;
    font-weight: bold;
}
.pager div.short input.btn {
    width:auto;
    padding:0 10px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    margin-left:0;
    border-radius: 0 3px 3px 0;
}
