#booklist li {
    list-style: none;
    float: left;
    width: 196px;
    height: 300px;
    padding: 0 5px;
    text-align: center;
}

#booklist .img {
    display:block;
    height:182px;
    width:182px;
    line-height:182px;
    overflow:hidden;
    border:1px solid #efefef;
}

#booklist img {
    max-height: 182px;
    max-width: 182px;

}

.table-list {
    border-bottom:1px solid #ddd;
}

.table-list tr th {
    text-align: center;
    background-color:#f8f8f8;
}

.table-list tr td {
    text-align: center;
    vertical-align: middle!important;
}

.table-list tr td img {
    max-width: 100px;
    max-height: 100px;
}

.table-list .text-left {
    text-align:left;
}

.w60 {
    width:60px;
}

.w150 {
    width:150px;
}

.w160 {
    width:160px;
}

.w220 {
    width:220px;
}

.color-gray {
    color:#999;
}

