#booklist li {
    list-style: none;
    float: left;
    width: 196px;
    height: 300px;
    padding: 0 5px;
    text-align: center;
}

#booklist .img {
    display:block;
    height:182px;
    width:182px;
    line-height:182px;
    overflow:hidden;
    border:1px solid #efefef;
}

#booklist img {
    max-height: 182px;
    max-width: 182px;

}
