@charset "utf-8";

body {
    padding-top: 50px;
}

.control-label em {
    color: #f00;
    margin-right: 5px;
}

.has-error .error {
    color: #f00;
}

.has-success .error {
    display: none;
}

.clear:after {
    display: block;
    content: '';
    clear: both;
}

ul, li {
    margin: 0;
    padding: 0;
}

h2 {
    width: 980px;
    margin: 0 auto;
}

.container_main {
    margin-top: 100px;
}

.banner {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 25px 0 10px;
}

.ver-top .input-group-btn {
    vertical-align: top;
}

textarea {
    resize:none;
}

#viewCover {
    width:200px;
}
.form-group em {
    font-style: normal;
}

.main {
    width: 980px;
    margin: 0 auto;
}
.search-box {
    margin-top:10px;
}
