@charset "utf-8";
#login-area {
    float:left;
    line-height:50px;
}
#login-area strong {
    font-weight:normal;
}

.login-btn {
    float: left;
}

.login-user {
    display: none;
    font-weight:normal;
    color: #666;
}

.login-user em {
    font-style:normal;
    font-weight: bold;
    margin:0 10px;
    color:#fff;
}

.logout-btn {
    display: none;
    padding-left: 15px;
}

.error-msg {
    color: #ff0000;
}

#addBook-li,#myBorrowed {
    display: none;
}

.signUp-btn {
    display: none; padding-left: 10px;
}