@charset "utf-8";
#login-area {
    float:left;
    line-height:50px;
}
#login-area strong {
    font-weight:normal;
}

.login-btn {
    float: left;
}

.login-user {
    display: none;
    color: #ffffff;
}

.logout-btn {
    display: none;
    padding-left: 15px;
}

.error-msg {
    color: #ff0000;
}

#addBook-li,#myBorrowed {
    display: none;
}

.signUp-btn {
    display: none; padding-left: 10px;
}