@charset "utf-8";

#addBook-btn { display: none; padding-top: 15px; }
.login-btn { float: right; padding-top: 15px; }
.login-user { float: right; display: none; color: #ffffff; padding-top: 15px; }
.error-msg { color: #ff0000; }