<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.dolphin.dao.BookDAO">

    <insert id="addBook" parameterType="Book" keyProperty="id">
        insert into books(
        book_name,
        author,
        isbn,
        publisher,
        cover_image_id,
        introduction,
        create_time)
        values
        (
        #{name},
        #{author},
        #{isbn},
        #{publisher},
        #{coverImageId},
        #{introduction},
        #{createdTime}
        )
    </insert>

    <resultMap id="getBooksResultMap" type="Book">
        <result column="book_id" property="id"/>
        <result column="book_name" property="name"/>
        <result column="author" property="author"/>
        <result column="isbn" property="isbn"/>
        <result column="publisher" property="publisher"/>
        <result column="cover_image_id" property="coverImageId"/>
        <result column="introduction" property="introduction"/>
        <association property="image" javaType="Image">
            <id column="image_id" property="imageId"/>
            <result column="image_url" property="imageUrl"/>
        </association>

    </resultMap>

</mapper>